* {box-sizing: border-box; }
html {
}

/*
$$$$$$$\                  $$\           
$$  __$$\                 $$ |          
$$ |  $$ | $$$$$$\   $$$$$$$ |$$\   $$\ 
$$$$$$$\ |$$  __$$\ $$  __$$ |$$ |  $$ |
$$  __$$\ $$ /  $$ |$$ /  $$ |$$ |  $$ |
$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |
$$$$$$$  |\$$$$$$  |\$$$$$$$ |\$$$$$$$ |
\_______/  \______/  \_______| \____$$ |
                              $$\   $$ |
                              \$$$$$$  |
                               \______/
*/
body {
    background-color: black;
    color: white;
    font-family: 'Spinnaker', sans-serif;
    padding: 0px 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
	height: 100%;
}


/*
$$\   $$\                           $$\                     
$$ |  $$ |                          $$ |                    
$$ |  $$ | $$$$$$\   $$$$$$\   $$$$$$$ | $$$$$$\   $$$$$$\  
$$$$$$$$ |$$  __$$\  \____$$\ $$  __$$ |$$  __$$\ $$  __$$\ 
$$  __$$ |$$$$$$$$ | $$$$$$$ |$$ /  $$ |$$$$$$$$ |$$ |  \__|
$$ |  $$ |$$   ____|$$  __$$ |$$ |  $$ |$$   ____|$$ |      
$$ |  $$ |\$$$$$$$\ \$$$$$$$ |\$$$$$$$ |\$$$$$$$\ $$ |      
\__|  \__| \_______| \_______| \_______| \_______|\__| 
*/                                                                      
h1 {
    color: #dfe2db;
  	font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
    text-align: left;
    background-color: #232323;
    line-height: 35px; 
	height: 40px;
	padding-left: 10px;
	border: 0em;
	margin: 0;
}

h2 {color: #BB4503;
	background-color: black;
	font-family: 'Jura', sans-serif;
	letter-spacing: 2px;
	line-height: 15px; 
	height: 30px;
	padding: 5px;
	border: 0em;
	margin: 0px;
}
h3 {color: white;
	font-family: 'Jura', sans-serif;
	letter-spacing: 2px;
	text-align: right;
	line-height: 1em; 
	padding: 0px 25px 0px 0px;
    border: 0px;
    margin: 0px 0px 10px 0px;
    width: 100%;
	height: 100%;

}
h4 {color: #882601; 
	font-family: 'Jura', sans-serif;
	font-weight: normal;
	line-height: 0em;
	height: 2em;
	margin: 0;
}

h5 {color: white;
    font-family: 'Spinnaker', sans-serif;
    padding: 5px 5px;
    border: 5px;
    margin: 5px;
    width: 100%;
	height: 100%;
}

h6 {color: black;
	text-shadow: 0px 0px 6px white;
}


/*
$$\   $$\                     $$\                           
$$$\  $$ |                    $$ |                          
$$$$\ $$ | $$$$$$\ $$\    $$\ $$$$$$$\   $$$$$$\   $$$$$$\  
$$ $$\$$ | \____$$\\$$\  $$  |$$  __$$\  \____$$\ $$  __$$\ 
$$ \$$$$ | $$$$$$$ |\$$\$$  / $$ |  $$ | $$$$$$$ |$$ |  \__|
$$ |\$$$ |$$  __$$ | \$$$  /  $$ |  $$ |$$  __$$ |$$ |      
$$ | \$$ |\$$$$$$$ |  \$  /   $$$$$$$  |\$$$$$$$ |$$ |      
\__|  \__| \_______|   \_/    \_______/  \_______|\__|
*/
nav {
	background-color: white;
	color: black;
	font-family: 'Syncopate', sans-serif;
	text-align: right;
	line-height: 1em; 
	padding: 10px 25px;
    border: 0px;
    margin: 0px;
    width: 100%;
	height: 2em;
}

	ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
		}

	li {
    	display: inline;
    	margin: 0;
		}

	a {
  		margin-left: 30px;
  		color: #104B88;
  		text-decoration: none;
  		font-weight: bold;
  		}


/*
$$$$$$$\                              
$$  __$$\                             
$$ |  $$ |$$$$$$\   $$$$$$\  $$$$$$\  
$$$$$$$  |\____$$\ $$  __$$\ \____$$\ 
$$  ____/ $$$$$$$ |$$ |  \__|$$$$$$$ |
$$ |     $$  __$$ |$$ |     $$  __$$ |
$$ |     \$$$$$$$ |$$ |     \$$$$$$$ |
\__|      \_______|\__|      \_______|
*/
.about-me {
	background-color: black;
    color: #b3b3b3;
    font-family: 'Spinnaker', sans-serif;
    padding: 0px 500px 0px 20px;
    border: 10px;
    margin: 00px 0px 00px 0px;
    width: 100%;
	height: 100%;
}


/*
 $$$$$$\  $$\ $$\     
$$  __$$\ $$ |\__| 
$$ /  $$ |$$ |$$\  $$$$$$\  $$$$$$$\ 
$$$$$$$$ |$$ |$$ |$$  __$$\ $$  __$$\   
$$  __$$ |$$ |$$ |$$ /  $$ |$$ |  $$ |
$$ |  $$ |$$ |$$ |$$ |  $$ |$$ |  $$ |
$$ |  $$ |$$ |$$ |\$$$$$$$ |$$ |  $$ |
\__|  \__|\__|\__| \____$$ |\__|  \__| 
                  $$\   $$ |                                                     
                  \$$$$$$  |                                                     
                   \______/ 
*/
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	text-align: center;
	align-items: center;
}

.row {
  clear: both;
  margin-bottom: 0rem;
  overflow: auto;
}

.col {
  border: 1px none none;
  float: left;
  padding: 0 1rem;
}
.col-halfs { width: 50%;
}


/*
$$$$$$$$\                   $$\                         
$$  _____|                  $$ |                        
$$ |    $$$$$$\   $$$$$$\ $$$$$$\    $$$$$$\   $$$$$$\  
$$$$$\ $$  __$$\ $$  __$$\\_$$  _|  $$  __$$\ $$  __$$\ 
$$  __|$$ /  $$ |$$ /  $$ | $$ |    $$$$$$$$ |$$ |  \__|
$$ |   $$ |  $$ |$$ |  $$ | $$ |$$\ $$   ____|$$ |      
$$ |   \$$$$$$  |\$$$$$$  | \$$$$  |\$$$$$$$\ $$ |      
\__|    \______/  \______/   \____/  \_______|\__|
*/
.footer {
	text-align: center;
	top: 500px;
	left: 0px;
	padding: 10px 5px 5px 5px;
	border: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	line-height: 20px;
	background-color: #232323;
	color: white;
	font-family: 'Spinnaker', sans-serif;
	
}


/*
$$\      $$\ $$\                     
$$$\    $$$ |\__|                    
$$$$\  $$$$ |$$\  $$$$$$$\  $$$$$$$\ 
$$\$$\$$ $$ |$$ |$$  _____|$$  _____|
$$ \$$$  $$ |$$ |\$$$$$$\  $$ /      
$$ |\$  /$$ |$$ | \____$$\ $$ |      
$$ | \_/ $$ |$$ |$$$$$$$  |\$$$$$$$\ 
\__|     \__|\__|\_______/  \_______|
*/

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto 4em;
}